*.app
TestOrthogonal
__Kobold2D__/docs
__Kobold2D__/libs/Chipmunk-SpaceManager/Example
__Kobold2D__/libs/Chipmunk-SpaceManager/htmldoc
__Kobold2D__/libs/Chipmunk/Demo
__Kobold2D__/libs/Box2D/Documentation
__Kobold2D__/libs/Box2D/Testbed
__Kobold2D__/libs/Chipmunk/doc
__Kobold2D__/templates
__Kobold2D__/tools
.DS_Store
DerivedData
__Kobold2D__/Kobold2D-Libraries.xcodeproj
Kobold2D.xcworkspace/xcuserdata/grillaface.*
NanoCommando/NanoCommando.xcodeproj/xcuserdata/grillaface.*
