<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancertest02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,102},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,102},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{8,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,102},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,102},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,102},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,102},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>heart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,115},{104,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{104,109}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{104,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>heart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>heart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,228},{106,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>heart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{106,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>powerup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{30,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,102},{32,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,452},{38,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>powerup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,452},{36,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>powerup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{38,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ship0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,332},{62,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,268},{62,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{64,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{64,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{64,98}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,439},{64,98}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,339},{64,98}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,168},{62,98}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,439},{64,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,13},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,339},{64,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{64,98}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{64,98}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,196},{62,98}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,13},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,132},{62,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship8.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,102},{62,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,68},{62,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c2c9edc6fe6a5d7621f85f6e5461088$</string>
            <key>textureFileName</key>
            <string>NanoCommando-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
