<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Radar_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{21,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{21,25}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Turret_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,318},{15,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Wall_Node_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,304},{29,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,27}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,297},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,290},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,345},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,345},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,345},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>heart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{300,310}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{300,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{300,316}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{306,314}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{306,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,320}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{306,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{304,314}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{304,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{302,314}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{302,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{300,310}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{300,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>orange0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,242},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,194},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,242},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,146},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,194},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,242},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,98},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,146},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,194},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange0_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,98},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,146},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,98},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,98},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,146},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange1_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>orange2_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,304},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>powerup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,335},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{15,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,290},{17,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,318},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,324},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,306},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>ship0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,306},{32,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,306},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,290},{32,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,290},{34,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{34,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship12.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,318},{32,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship13.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,318},{32,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship14.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,318},{32,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship15.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,318},{32,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,318},{32,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,290},{34,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{34,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,318},{32,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,318},{32,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,318},{32,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,318},{32,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,318},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ship9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,318},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando.pvr.ccz</string>
            <key>size</key>
            <string>{2019,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1150831cd735d13610874d0b134e291$</string>
            <key>textureFileName</key>
            <string>NanoCommando.pvr.ccz</string>
        </dict>
    </dict>
</plist>
