<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Radar_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,31},{21,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{21,25}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Turret_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{13,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,50}}</string>
                <key>sourceSize</key>
                <string>{13,50}</string>
            </dict>
            <key>Wall_Node_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,2},{29,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,27}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,205},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,51},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,212},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,173},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,205},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,173},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>heart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{300,310}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{300,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{300,316}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{306,314}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{306,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,320}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{306,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{304,314}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{304,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{302,314}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{302,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{300,310}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{300,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>orange0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,284},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,259},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,234},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,209},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,184},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,273},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,248},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,223},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,198},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,173},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,159},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,148},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,134},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,123},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,98},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,73},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,48},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,98},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,148},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,70},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,45},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,279},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,254},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,229},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,204},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,179},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,154},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,129},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,104},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,79},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,54},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>powerup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,151},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{15,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,79},{17,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,184},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,30},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,27},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>ship0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,116},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,98},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,138},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,110},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,278},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,123},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,95},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,51},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,27},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,2},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,250},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,222},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,194},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,166},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,82},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,54},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando.pvr.ccz</string>
            <key>size</key>
            <string>{2018,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd15471ce5f6b3554f83e6638e54a5db$</string>
            <key>textureFileName</key>
            <string>NanoCommando.pvr.ccz</string>
        </dict>
    </dict>
</plist>
