<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Radar_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,217},{21,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{21,25}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Radar_Power_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,17},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Turret_Power_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,2},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Turret_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,2},{13,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,50}}</string>
                <key>sourceSize</key>
                <string>{13,50}</string>
            </dict>
            <key>Wall_Node_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{29,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,27}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Wall_Node_Powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,227},{21,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{21,21}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,30},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,304},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,23},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,16},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,9},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,2},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>heart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{300,310}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{300,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{300,316}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{306,314}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{306,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,320}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{306,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{304,314}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{304,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{302,314}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{302,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>heart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{300,310}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{300,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>orange0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,202},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,192},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,206},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,192},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,177},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,167},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,181},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,167},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,152},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,142},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange0_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,156},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,142},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,127},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,117},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,131},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,117},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,102},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,131},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,142},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,92},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,106},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange1_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,92},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,77},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,67},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,81},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,67},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,52},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,42},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,56},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,42},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,31},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,27},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>orange2_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,17},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>powerup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,287},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{15,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,273},{17,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,278},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,286},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>powerup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,276},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>ship0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,250},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,260},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,240},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,217},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,268},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,245},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,248},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,259},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,220},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,231},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,192},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,164},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,136},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,108},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,80},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ship9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,52},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando.pvr.ccz</string>
            <key>size</key>
            <string>{2020,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e68a676ae69adef1eb1eeabf6665996$</string>
            <key>textureFileName</key>
            <string>NanoCommando.pvr.ccz</string>
        </dict>
    </dict>
</plist>
