<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CancerCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,2400},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ShipSprite0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3306,2256},{244,392}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3306,2256},{244,392}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3348,1762},{246,392}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2870,1018},{248,392}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,51},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,764},{250,390}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,52},{250,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1760},{250,392}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1760},{252,390}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,52},{252,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2476,764},{252,392}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3658,512},{252,392}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3270,2},{254,392}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2876,2},{254,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{256,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3596,2010},{244,392}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1180},{256,390}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,506},{256,390}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite22.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1574},{256,390}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,51},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite23.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,396},{258,392}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{258,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite25.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{258,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,394},{258,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite27.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1576},{258,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{258,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite29.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1968},{256,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3596,1764},{244,392}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{256,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{256,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,786},{254,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1760},{254,390}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite34.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1576},{254,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite35.png</key>
            <dict>
                <key>frame</key>
                <string>{{3264,512},{252,392}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2870,512},{252,392}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2476,510},{252,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1262},{250,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite39.png</key>
            <dict>
                <key>frame</key>
                <string>{{3658,1018},{250,392}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2954,1762},{244,392}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2476,1018},{248,392}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1512},{246,390}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,52},{246,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite42.png</key>
            <dict>
                <key>frame</key>
                <string>{{3058,2008},{246,392}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2152},{246,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2166,2256},{244,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2012},{244,392}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite46.png</key>
            <dict>
                <key>frame</key>
                <string>{{3250,1516},{244,392}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2856,1514},{244,392}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2462,1514},{244,392}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2068,1514},{244,392}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1514},{244,392}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite50.png</key>
            <dict>
                <key>frame</key>
                <string>{{3644,1270},{244,392}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite51.png</key>
            <dict>
                <key>frame</key>
                <string>{{3250,1270},{244,392}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2856,1268},{244,392}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2462,1268},{244,392}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,2008},{246,392}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,52},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2166,2008},{246,392}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,1760},{246,392}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2166,1760},{246,392}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,52},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,1018},{248,392}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,51},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2088,258},{248,392}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,51},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2068,1268},{244,392}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite60.png</key>
            <dict>
                <key>frame</key>
                <string>{{3264,1018},{250,392}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite61.png</key>
            <dict>
                <key>frame</key>
                <string>{{3658,766},{250,392}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,52},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,508},{252,392}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite63.png</key>
            <dict>
                <key>frame</key>
                <string>{{3270,258},{252,392}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1256},{254,390}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2084,762},{254,390}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,508},{254,390}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite67.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,394},{256,392}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite68.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,788},{256,390}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,51},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite69.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1182},{256,390}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite7.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1182},{244,392}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite70.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{258,390}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite71.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1182},{256,392}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{258,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite74.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,790},{258,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{258,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite76.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,790},{256,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1576},{256,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite78.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,396},{256,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite79.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{256,392}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1832},{246,392}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2482,2},{254,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2088,2},{254,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite82.png</key>
            <dict>
                <key>frame</key>
                <string>{{3664,2},{254,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2876,258},{252,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite84.png</key>
            <dict>
                <key>frame</key>
                <string>{{3664,258},{252,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,52},{252,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite85.png</key>
            <dict>
                <key>frame</key>
                <string>{{3264,766},{250,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2870,766},{250,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2482,258},{250,392}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,52},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,2008},{248,390}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,52},{248,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite89.png</key>
            <dict>
                <key>frame</key>
                <string>{{3644,1516},{246,392}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite9.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1966},{246,392}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,52},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite90.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1968},{246,392}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,260},{246,392}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1016},{244,392}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1010},{244,392}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,764},{244,392}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,260},{244,392}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite96.png</key>
            <dict>
                <key>frame</key>
                <string>{{3306,2256},{244,392}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>cancetest.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1832},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4057,2502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:617ae42770aae1e816c3b386baab67b5$</string>
            <key>textureFileName</key>
            <string>NanoCommando-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
