<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CancerCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ShipSprite0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,126},{122,196}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,126},{122,196}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{124,196}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,376},{124,196}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{126,196}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,25},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,630},{126,196}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,630},{126,196}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,25},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,630},{126,196}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,888},{128,196}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,888},{128,196}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,888},{128,196}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite19.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,888},{128,196}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,126},{122,196}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite20.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,888},{128,196}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1150},{130,196}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite22.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,888},{128,196}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1150},{130,196}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1150},{130,196}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite25.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1150},{130,196}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite26.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1150},{130,196}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite27.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1150},{130,196}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite28.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1150},{130,196}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite29.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1150},{130,196}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,126},{122,196}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{130,196}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1018},{130,196}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite32.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,888},{128,196}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite33.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,888},{128,196}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{128,196}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite35.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,630},{126,196}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite36.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,630},{126,196}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite37.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,630},{126,196}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite38.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,630},{126,196}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite39.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,630},{126,196}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,126},{122,196}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,376},{124,196}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,376},{124,196}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,25},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite42.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,376},{124,196}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite43.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,376},{124,196}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite44.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,376},{124,196}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite45.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,126},{122,196}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite46.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,126},{122,196}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite47.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,126},{122,196}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite48.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{122,196}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,196}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{122,196}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{122,196}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{122,196}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{122,196}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite53.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{122,196}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite54.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,376},{124,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite55.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,376},{124,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{124,196}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,250},{124,196}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{126,196}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,250},{124,196}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite6.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{122,196}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,502},{126,196}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,502},{126,196}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,502},{126,196}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite63.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,502},{126,196}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,758},{128,196}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,758},{128,196}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,758},{128,196}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite67.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,758},{128,196}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1018},{130,196}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite69.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,758},{128,196}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,250},{124,196}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1018},{130,196}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite71.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1018},{130,196}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite72.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1018},{130,196}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite73.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1018},{130,196}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite74.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1018},{130,196}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite75.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1018},{130,196}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{130,196}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,25},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,918},{130,196}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,720},{130,196}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,26},{130,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite79.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,758},{128,196}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite8.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,250},{124,196}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite80.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,758},{128,196}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite81.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,758},{128,196}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,522},{128,196}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,25},{128,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite83.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,502},{126,196}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite84.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,502},{126,196}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,25},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite85.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,502},{126,196}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite86.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,502},{126,196}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,324},{126,196}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,26},{126,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite88.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,250},{124,196}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,25},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite89.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,250},{124,196}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite9.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,250},{124,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite90.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,250},{124,196}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,196}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,126},{124,196}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,26},{124,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite93.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{122,196}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite94.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{122,196}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite95.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{122,196}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ShipSprite96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,126},{122,196}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,26},{122,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1916,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6d9193aced89c7a8bfa6e0d8bfd2008$</string>
            <key>textureFileName</key>
            <string>NanoCommando-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
