<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CancerCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ShipSprite0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,740},{244,392}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,740},{244,392}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1234},{246,392}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite11.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1482},{248,392}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,51},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1482},{250,390}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,52},{250,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1984},{250,392}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1734},{252,390}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,52},{252,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2244},{252,392}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite16.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2242},{252,392}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2758},{254,392}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2746},{254,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,3530},{256,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,740},{244,392}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite20.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,3260},{256,390}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,3012},{256,390}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite22.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,3010},{256,390}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,51},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,3792},{258,392}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,3790},{258,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite25.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,3788},{258,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite26.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,3778},{258,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,3530},{258,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite28.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,3528},{258,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3518},{256,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,740},{244,392}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,3274},{256,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,3272},{256,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2490},{254,392}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite33.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2746},{254,390}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,2502},{254,390}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite35.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2236},{252,392}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2236},{252,392}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1992},{252,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1984},{250,392}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,1740},{250,392}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{244,392}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{248,392}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{246,390}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,52},{246,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite42.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1234},{246,392}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite43.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1234},{246,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,496},{244,392}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,494},{244,392}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,494},{244,392}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite47.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,494},{244,392}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite48.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,494},{244,392}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{244,392}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,250},{244,392}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,248},{244,392}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,248},{244,392}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite52.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,248},{244,392}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite53.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,248},{244,392}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{246,392}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,52},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,990},{246,392}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,988},{246,392}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,986},{246,392}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,52},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1238},{248,392}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,51},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1236},{248,392}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,51},{248,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{244,392}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1738},{250,392}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite61.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1732},{250,392}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,52},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1992},{252,392}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1990},{252,392}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2502},{254,390}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2498},{254,390}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite66.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2496},{254,390}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3260},{256,392}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3002},{256,390}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,51},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2754},{256,390}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,2},{244,392}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite70.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,3518},{258,390}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,3016},{256,392}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3776},{258,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,3532},{258,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,51},{258,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,3270},{258,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite75.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,3268},{258,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,52},{258,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite76.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2752},{256,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,52},{256,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,3014},{256,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite78.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,3002},{256,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,2758},{256,392}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,51},{256,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite8.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,986},{246,392}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,2246},{254,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2246},{254,392}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,51},{254,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite82.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2490},{254,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,52},{254,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite83.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1988},{252,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,51},{252,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite84.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1732},{252,390}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,52},{252,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{250,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,1488},{250,392}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,51},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1486},{250,392}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,52},{250,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite88.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1482},{248,390}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,52},{248,390}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite89.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,986},{246,392}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{246,392}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,52},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,742},{246,392}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,740},{246,392}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,51},{246,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{244,392}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite93.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{244,392}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite94.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{244,392}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,51},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite95.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{244,392}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ShipSprite96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,740},{244,392}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,52},{244,392}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2430,4052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c3222dacafd684ee6381976e13f158$</string>
            <key>textureFileName</key>
            <string>NanoCommando-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
