<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Radar_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,3905},{81,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{81,107}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Radar_Power_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,3790},{98,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Turret_Power_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,3790},{96,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Turret_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3790},{50,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,200}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>Wall_Node_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,3790},{115,113}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{115,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Wall_Node_Powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,3870},{82,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2379,3870},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,3776},{16,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{16,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,3978},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,3992},{18,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3992},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2512},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>heart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2536},{1194,1238}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{1194,1238}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1252},{1194,1258}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{1194,1258}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{1224,1256}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{1224,1256}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>heart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1216,1274}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{1216,1274}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>heart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2536},{1216,1252}}</string>
                <key>offset</key>
                <string>{-24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{1216,1252}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>heart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{1204,1248}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{1204,1248}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>heart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2536},{1194,1238}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{1194,1238}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>orange0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,3776},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,3776},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,3776},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,3776},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,3870},{92,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,3776},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,3776},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,3776},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,3884},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,3884},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange0_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,3884},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,3870},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,3870},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,3884},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2333,3776},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2241,3776},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2149,3776},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2333,3776},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,3870},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2057,3776},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,3776},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange1_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,3790},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,3884},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,3884},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2_death-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2_death-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>orange2_death-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,3790},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>powerup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,3950},{57,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,3934},{63,61}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{63,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,3936},{75,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>powerup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,3936},{69,67}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{69,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>powerup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,3934},{73,69}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{73,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ship0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,3950},{60,96}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,13},{60,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,3870},{62,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship10.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,3948},{62,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship11.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,3884},{64,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,3870},{64,96}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{64,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship13.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,3884},{64,98}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship14.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,3884},{62,98}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,3936},{62,96}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,13},{62,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2281,3870},{62,96}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{62,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,3870},{64,96}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{64,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship4.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,3884},{64,98}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,3886},{64,98}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2183,3870},{62,96}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,13},{62,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship7.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,3888},{62,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{62,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2085,3870},{62,96}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{62,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ship9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,3870},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,13},{62,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NanoCommando-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2426,4012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0395adc17a2577ea6addf2d3882ebe$</string>
            <key>textureFileName</key>
            <string>NanoCommando-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
