<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ipaddrawings.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,696},{370,143}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,143}}</string>
                <key>sourceSize</key>
                <string>{370,161}</string>
            </dict>
            <key>nanocommando.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,813},{480,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,68}}</string>
                <key>sourceSize</key>
                <string>{480,76}</string>
            </dict>
            <key>shipforpassing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{692,1030}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{692,1030}}</string>
                <key>sourceSize</key>
                <string>{842,1120}</string>
            </dict>
            <key>startbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{167,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,53}}</string>
                <key>sourceSize</key>
                <string>{167,53}</string>
            </dict>
            <key>tapanddrag.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,696},{337,115}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{337,115}}</string>
                <key>sourceSize</key>
                <string>{355,127}</string>
            </dict>
            <key>thumbstick edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,696},{96,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>thumbstickcenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,841},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuSpriteSheet-hd.png</string>
            <key>size</key>
            <string>{1034,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb79eaafa6b36e916f4720655ff5d857$</string>
            <key>textureFileName</key>
            <string>MenuSpriteSheet-hd.png</string>
        </dict>
    </dict>
</plist>
