<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ipaddrawings.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{185,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,72}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>nanocommando.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,351},{240,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,34}}</string>
                <key>sourceSize</key>
                <string>{240,38}</string>
            </dict>
            <key>shipforpassing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,516}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{347,516}}</string>
                <key>sourceSize</key>
                <string>{421,560}</string>
            </dict>
            <key>startbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,387},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>thumbstick edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,351},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>thumbstickcenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,403},{19,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuSpriteSheet.png</string>
            <key>size</key>
            <string>{520,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee05a47db8b11b2908894c117175183f$</string>
            <key>textureFileName</key>
            <string>MenuSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
